@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to left ,#6a7c7e,#819799,#B6D6D9,#C1E2E6,#A1BDBF);
}

main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #8dc7cc;
  width: 600px;
  padding: 10px;
  margin: auto;
}
img{
    padding-right: 10px;
    align-items: center;
    align-self: auto;
}
p{
    text-align: justify;
}

h1{
  color: #4B5859;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(61, 34, 34);
}

h2{
 color: #819799;
 text-align: justify;
}